@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&family=Rubik:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(93deg, #4CB8C4 0%, #3CD3AD 100%), #232323;
  height: 216px;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: Rubik;
  font-size: 44px;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 20px;
}

.search {
  width: 460px;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

input {
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #FFF;
  outline: none;
  border: 0;
  width: 100%;
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 300;
}

button {
  padding: 15px 26px;
  border: 0;
  border-radius: 6px;
  background: #ED3052;
  margin-left: -10px;
  color: #FFF;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}

.card {
  position: relative;
  width: 390px;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 5px 20px 0px rgba(27, 108, 114, 0.25);
  display: flex;
  justify-content: space-between;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  width: 90%;
  margin: auto;
  height: 100%;
  inset: 0;
  top: 20px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 5px 20px 0px rgba(27, 108, 114, 0.25);
}

.card h3 {
  color: #000;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card h3 span {
  color: #FFF;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  background: #E5464F;
  padding: 3px 5px;
  vertical-align: top;
}

.card h1 {
  color: #000;
  font-family: Rubik;
  font-size: 92px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}

.card h1 span {
  font-size: 42px;
  vertical-align: top;
}

.card p {
  color: #000;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
}